@model UserIdentificationProject.Models.SaveDataModel

@{
    ViewData["Title"] = "Home Page";
}

<html>
<body>

    <form asp-action="SaveData">
        <div class="form-group">
            <label asp-for="Login">Login</label>
            <input asp-for="Login" id="Login" type="text" class="form-control" placeholder="ExampleLogin">
        </div>
        <div class="form-group">
            <label for="TextArea">Write some text 150 character limit</label>
            <textarea class="form-control" id="TextArea" rows="3" maxlength="150" onkeyup="countChar(this)" placeholder="Type Here"></textarea>
            <div class="numbersofChar">150</div>
        </div>
        <div class="form-group">
            <button id="Submit" type="button" class="btn btn-success float-right" onclick="showArray()">Submit</button>
        </div>
        <div id="time" class="form-group">...</div>
        <div id="counter" class="form-group">...</div>
        <table id="myTable">
            <thead>Keydown/Time</thead>
        </table>
        <br>
        <p id="log"></p>
        <p id="ms"></p>

        <pre id="arrPrint"></pre>

        <pre id="arrPrint2"></pre>

    </form>

    <script src="~/js/TextFunctions.js"></script>
    <link rel="stylesheet" href="~/css/StyleSheet.css" />

</body>
</html>